<div class="container">

    <div class="form p-2  d-flex flex-column align-items-center">
      <h1>Book <%= @skill.name %></h1>
      <p class="text-highlited" id="booking-form-div" data-bookings="<%= @bookings_dates.to_json %>" >  </p>
      <p>Please select your reservation dates</p>
      <%= simple_form_for [@skill, @booking] do |f|%>
      <%= f.input :date_in, label: false, as: :string, required: false, input_html: {class: "datepicker d-none", id: "range_start"}  %>
      <%= f.input :date_out, label: false, as: :string, required: false, input_html: {class: "datepicker d-none", id:"range_end"} %>
      <div class="d-flex justify-content-center align-items-center">
        <%= f.button :submit, class: "button button-simple-form"%>
        <%= link_to "Back", skill_path(@skill), class: "button button-simple-form"%>
      </div>
      <% end %>
  </div>
</div>
