<div class="container fix_footer">
  <div class="row justify-content-center">
    <div class="col-md-6 col text-left">
      <div class='card-your-resa'>
        <% if current_user == @booking.skill.user  %>
          <h1> <%= @booking.user.first_name %>'s reservation </h1>
        <% else %>
          <h1>Your reservation</h1>
        <% end %>
        <!-- Modifier avec l'avatar du client et du loueur -->
        <div class='mb-3 parent'>
          <% if current_user == @booking.skill.user  %>
            <% if  current_user.photo.attachment %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle av-border im-1", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <div class="card-trip-user avatar-bordered avatar defaut im-1"></div>
            <% end %>
            <% if @booking.user.photo.attachment %>
              <%= cl_image_tag @booking.user.photo.key, class: "avatar dropdown-toggle av-border im-2", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <img class="card-trip-user avatar-bordered avatar defaut im-2"></img>
            <% end %>
          <% else %>
            <% if  current_user.photo.attachment %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle av-border im-1", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <div class="card-trip-user avatar-bordered avatar defaut im-1"></div>
            <% end %>
            <% if @booking.skill.user.photo.attachment %>
              <%= cl_image_tag @booking.skill.user.photo.key, class: "avatar dropdown-toggle av-border im-2", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <img class="card-trip-user avatar-bordered avatar defaut im-2">
            <% end %>
          <% end %>
        </div>
        <div class='text-left'>
          <% if policy(@booking).validate? %>
            <p>From <%= @booking.date_in %> to : <%= @booking.date_out %></p>
            <p>E-mail of <%= @booking.user.first_name %> : <%= @booking.user.email %> </p>
            <p>Price per day : <%= humanized_money_with_symbol (@booking.skill.price) %> </p>
          <% else %>
            <p>From <%= @booking.date_in %> to <%= @booking.date_out %></p>
            <p>E-mail of <%= @booking.skill.user.first_name%>: <%= @booking.skill.user.email %> </p>
            <p>Price per day : <%= humanized_money_with_symbol(@booking.skill.price) %></p>
          <% end %>
        </div>
        <div class='text-right'>
          <% if policy(@booking).validate? %>
            <% if @booking.status == "accepted - Time to pay" %>
              <% if current_user == @booking.user %>
                <%= form_tag booking_pay_path(@booking.skill,@booking) do %>
                  <%= hidden_field_tag 'booking', @booking %>
                  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
                <% end %>
              <% else %>
                <button class="accepted-tag">Waiting for payment</button>
              <% end %>
            <% elsif @booking.status == "paid" %>
              <button class='paid-tag'>Paid</button>
            <% elsif @booking.status == "cancelled" %>
              <button class='cancelled-tag'>Cancelled</button>
            <% else %>
              <%= link_to "Confirm Booking", validate_skill_booking_path(@booking.skill, @booking), method: :patch, class: 'button' %>
              <%= link_to "Cancel Booking", cancel_skill_booking_path(@booking.skill, @booking), method: :patch, class: "button" %>
            <% end %>
          <% else %>
            <% if @booking.status == "accepted - Time to pay" %>
              <% if current_user == @booking.user %>
                <%= form_tag booking_pay_path(@booking.skill,@booking) do %>
                <%= hidden_field_tag 'booking', @booking %>
                <%= submit_tag 'Purchase', class: 'accepted-tag-show-page' %>
                  <% end %>
                <% else %>
                  <button class="accepted-tag">Waiting for payment</button>
              <% end %>

            <% elsif @booking.status == "cancelled" %>
              <button class='cancelled-tag'>Cancelled</button>
            <% elsif @booking.status == "paid" %>
              <button class='paid-tag'>Paid</button>
            <% else %>
              <button class='pending-tag'>Pending...</button>
          <% end %>
        <% end %>
        </div>
      </div>
      <% if current_user == @booking.skill.user %>
        <div class="text-center">
          <%= link_to 'Back', users_bookings_path, class: 'button'   %>
        </div>
      <% else %>
        <div class="text-center">
          <%= link_to 'Back', my_bookings_path, class: 'button'   %>
        </div>
      <% end %>
    </div>
  </div>
</div>
