<div class="container">
  <div class="form">
    <h1>Add a skill</h1>
    <p>Here, create a skill that you will be able to rent later</p>
    <%= simple_form_for(@skill) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <div class="d-flex justify-content-center align-items-center">
        <%= f.button :submit, class: "button button-simple-form" %>
        <%= link_to "Back", skills_path, class: "button button-simple-form"%>
      </div>
      <% end %>
  </div>
</div>



