<div class="container fix_footer">
  <div class="row justify-content-center">
    <div class="col-md-6 col text-center">
      <% if @skill.photo.attachment %>
        <%= cl_image_tag @skill.photo.key, class: "photo" %>
      <% else  %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg", class= "photo" />
      <% end %>
      <div class="card-description">
        <h1> <%= @skill.name %> </h1>
        <p> A great skilled owned by <%= @skill.user.first_name%> <%= @skill.user.last_name %></p>
        <p>Avalaible since <%= @skill.created_at.strftime("%d %b. %Y")%> </p>
        <p><%= @skill.description %> </p>
        <div class="d-flex justify-content-center mt-5">
            <% if policy(@skill).edit? %>
              <p> <%= link_to "Edit", edit_skill_path, class: "button"  %> </p>
            <% end %>
            <% if policy(@skill).destroy? %>
              <p> <%= link_to "Delete", skill_path(@skill), class: "button", method: :delete, data: { confirm: "Are you sure?" }  %> </p>
            <% end %>
            <% unless policy(@skill).edit? == true  %>
              <p><%= link_to "Make a reservation", new_skill_booking_path(@skill),  class: "button" %></p>
            <% end %>
            <p><%= link_to "Back", skills_path, class: "button" %></p>
        </div>
      </div>
    </div>
  </div>

  <div id="reviews" class="card-description">
    <h4 class="text-center">Reviews</h4>
    <% if @skill.reviews == [] %>
      <p>There are no reviews yet</p>
    <% else %>
      <ul>
      <% @skill.reviews.order(id: :desc).each do |review| %>
        <li class="list-unstyled p-1">
        <strong><%= review.user.first_name.capitalize %> <%= review.user.last_name.capitalize %></strong>   said :
        <% review.rating.times do  %>
          <i class='fas fa-star'></i>
        <% end %>
        <%= review.content %>
        <%= review.created_at.strftime("(at %H:%M on %Y-%m-%d)") %>
        </li>
        <% end %>
      <% end %>
    </ul>
    <div class="button" id="leavereview">Leave a review</div>
  </div>


  <div  class="d-none" id="tohide" >
    <div class="card-description">
      <%= simple_form_for [@skill, @review] do |f|%>
        <%= f.input :content %>
        <%= f.input :rating, as: :hidden %>
        <div class="my-3">
          <% 5.times do |index| %>
            <i id="<%= index + 1 %>" class="review-rating far fa-star"></i>
          <% end %>
        </div>
        <div class="d-flex justify-content-center">
          <%= f.submit "Submit", class: "btn button" %>
        </div>
      <% end %>
    </div>
  </div>

  <br>

  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
