<div class="banner">
  <div class="container">
    <h1 id="main-title" >RENT A SKILL</h1>
    <p >Start to figure out the superpowers available </p>
  </div>
</div>

<div class="container">
  <div>
    <h2>OUR CONCEPT</h2>
    <p>We believe people have skills. Great and unique skills. With us, you can use other people's abilities. Just like you'd rent a flat, you can now rent skills !</p>
  </div>

  <h2>LATEST SKILLS</h2>

  <div class="row">

    <% @skills.each do |skill| %>
      <%= link_to skill_path(skill) do   %>
          <div class= col-sm>
            <div class="card-product">
              <% if skill.photo.attachment %>
                <%= cl_image_tag skill.photo.key, crop: :fill %>
              <% else  %>
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <% end %>
              <div class="card-product-infos">
                <h2 class="product-name"><%= skill.name %></h2>
                <p><%= skill.description  %></p>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>

          
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <%= link_to "More Skills", skills_path, class: "button big" %>
  </div>

  <div>
    <h1>Reviews</h1>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
