
<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="http://example.com/favicon.png">
    <title>Rent a skill</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="mt-5">
    <% if controller_name == "pages" && action_name=='home' %>
      <div class="navbar navbar-expand-sm navbar-light navbar-home align-items-center navbar-transparent">
        <%= render 'shared/navbar' %>
    <% else %>
     <div class="navbar navbar-expand-sm navbar-light navbar-rentskill align-items-center">
       <%= render 'shared/navbar' %>
    <% end %>

    <%= render 'shared/flashes' %>


    <%= yield %>

    <%= render 'shared/footer' %>


  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </body>
</html>

